	<!DOCTYPE HTML>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content ="Anshul Yadav"/>
      	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<title>Anshul's blog</title>
		<style type="text/css">
		#header{
			 font-family: verdana;
			 color: red;
			 text-align: center; 
			}
		#post{
			margin-left: 10px;

		}	
		#timestamp{
			color: grey;
			
		}
		</style>
		
	</head>
	<body>

		
<a href="anshul.pythonanywhere.com"><h1 id="header">Anshul's Blog</h1></a>
		
           {% for post in posts %}
             	 <div>
       		 <p>published: {{ post.published_date }}</p>
       		 <h1><a href="">{{ post.title }}</a></h1>
      		 <p>{{ post.text|linebreaksbr }}</p>
   		 </div>	
	   {% endfor %}
	</body>
	</HTML>

